.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 25%;
    height: 12%;
    background-color: rgb(238, 218, 218);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.popup-inner-body {
    position: relative;
    padding: 32px;
    width: 20%;
    height: 10%;
    background-color: rgb(238, 218, 218);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.popup-inner-body input {
    position: relative;
    width: 300px;
    height: 25px;
}

.popup-inner-edit {
    position: relative;
    padding: 32px;
    width: 25%;
    height: 12%;
    background-color: rgb(238, 218, 218);

    display: flex;
    /* flex-direction: column; */
    border-radius: 15px;
}

.field{
    height: 30px;
    width: 500px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
}



.popup-inner-buttons{
    padding-bottom: 15px;
    margin-top: 10px;
    padding-top: 10px;
    
}

.popup-inner-edit-header{
    display: flex;
    flex-direction: column;
    align-items: center;

}


.popup-inner-edit-body-input {
    background-color: beige;
}


.cancel-button {
    display: flex;
    justify-content: flex-end;

}


.popup-inner-edit-body{
    display: flex;
    flex-direction: column;
    
}

/* Projects */



.project-popup-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35px;

    height: 150px
}

.project-popup-inner-buttons{
    margin-bottom: 35px;
}

.project-popup-inner-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
.project-popup-inner-header button {
    margin-top: 65px;
    margin-left: 490px;
}
.project-popup-inner-buttons {
    margin-bottom: 75px;
    margin-top: 35px;
}