.layout {
    background-color: rgb(179, 174, 240);
    height: 1006px;
}

.create-task {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
}



.task-list-item {
    display: flex;
    flex-direction: row;
}

.task-list-item-buttons {
    display: flex;
    flex-direction: row;
    padding-left: 7px;

    display: flex;
    justify-content: space-between;
}

editTaskListItemButton {
    padding: 50px;
}

/*---------------------------------------------------KANBAN STYLES ------------------------------------------------------------*/

.kanban-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
}

.open-list {
    background-color: #87DEB7;
    border-radius: 15px;
    height: 500px;
    width: 400px;
    padding: 1rem;


}

.doing-list {
    background-color: #B787DE;
    border-radius: 15px;
    height: 500px;
    width: 400px;
    padding: 1rem;

}

.done-list {
    background-color: #8C3FCA;
    border-radius: 15px;
    height: 500px;
    width: 400px;
    padding: 1rem;


}

.kanban-section-board{
    height: 500px;
}

/*------------------------------------FORM----------------------------------------------*/

.input-button {
    border-radius: 5px;
}

.submit {
    border-radius: 5px;
    background-color: #ddb7fc;
}